* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #E0E0E0;
  font-family: 'Lora', serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
}

header {
  grid-area: hd;
}

body .trending-posts-wrap {
  grid-area: rp;
}

body .blog-posts-wrap h1 {
  width: 100%;
  color: #edf0f1;
  margin: 0 auto;
}

body .blog-posts-wrap {
  margin: 30px auto 30px;
  display: flex;
  grid-area: bp;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  border: #C38D9E dashed 2px;
}

body .side-bar {
  margin: 30px auto 30px;
  grid-area: abt;
  border: #C38D9E dashed 2px;
}

body .footer-distributed {
  grid-area: ft;
  border: #C38D9E dashed 2px;
}

body .blog-layout {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
          "hd hd"
          "rp rp"
          "bp abt"
          "ft ft";
}

.side-bar {
  display: flex;
}

@media only screen and (max-width: 750px) {
  body .blog-layout {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
            "hd hd"
            "rp rp"
            "bp bp"
            "ft ft";
  }
}