html, body {
  height: 100%;
}

body {
  background: #24252A;
  font-family: 'Lora', serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
}

body .blog-layout {
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-template-rows: 66px max-content max-content max-content;
  grid-template-areas:
          "hd hd"
          "rp rp"
          "bp bp"
          "ft ft";
}

.side-bar {
  display: none;
}

header {
  grid-area: hd;
}


body .recent-posts {
  width: 90%;
  grid-area: rp;
  margin: 30px auto 30px;
  border: solid 2px red;
}

body .recent-posts h1,
body .blog-posts h1{
  width: 100%;
  color: #edf0f1;
}


body .blog-posts {
  width: 90%;
  margin: 30px auto 30px;
  display: flex;
  grid-area: bp;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  border: solid 2px red;
}

body .side-bar {
  grid-area: abt;
  margin: 30px auto 30px;
  border: solid 2px red;
}

body .footer-distributed {
  grid-area: ft;
  border: solid 2px red;
}

@media(min-width:900px) {
body .blog-layout {
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-template-rows: 66px max-content max-content max-content;
  grid-template-areas:
          "hd hd"
          "rp rp"
          "bp abt"
          "ft ft";
}
  .side-bar {
    display: flex;
  }
}

