html, body {
  height: 100%;
}

body {
  background: #24252A;
  font-family: 'proxima-nova-soft', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body .blog-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 1fr 25%;
  grid-template-areas:
          "hd hd"
          "ct ct"
          "ft ft";
}
.side-bar {
  display: none;
}
header {
  grid-area: hd;
}

body .content {
  display: flex;
  grid-area: ct;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

body .content h1 {
  width: 100%;
  text-align: center;
  color: #edf0f1;
  margin-bottom: 40px;
}

body .side-bar {
  grid-area: abt;
}

body .footer-distributed {
  grid-area: ft;
}

@media(min-width:900px) {
  body .blog-layout {
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 250px 1fr 20%;
    grid-template-areas:
            "hd hd"
            "ct abt"
            "ft ft";
  }
  .side-bar {
    display: flex;
  }
}