header * {
  color: #edf0f1;
}

.navbar {
  height: 66px;
  background-color: #525B43;
  background-image: linear-gradient(#525B43, #383D2E);
}

.logo {
  float: left;
  margin-left: 30px;
  cursor: pointer;
  height: inherit;
}

.toggle-bar i {
  display: none;
}

.logo-text {
  margin: 16px;
  text-align: center;
}

.logo-text span {
  color: #BF9943;
  font-family: 'Candal', serif;
}

.nav-list {
  list-style: none;
  float: right;
  padding: 0;
  width: 50%;
  margin: 0;
}

.nav-list li {
  width: 25%;
  float: left;
}

.nav-list li a {
  text-decoration: none;
  display: block;
  padding: 21px;
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
  height: 66px;
  transition: 0.3s;
}

.nav-list li a:hover {
  background-color: rgba(82, 91, 67, 0.8);
}

@media only screen and (max-width: 750px) {
  .nav-list {
    width: 100%;
  background-color: #525B43;
  background-image: linear-gradient(#525B43, #383D2E);
    height: 0;
    -moz-transition: height 0.8s;
    -webkit-transition: height 0.8s;
    -o-transition: height 0.8s;
    transition: height 0.8s;
    overflow: hidden  }

  .nav-list li {
    width: 100%;
  }

  .toggle-bar i {
    display: block;
    float: right;
    font-size: 2em;
    margin: 16px 10px;
  }

  .shown {
    height: 18.5em;
  }
}