.navbar a {
  text-align: center;
  padding: 10px 0;
  display: block;
  width: 100%;
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}
.navbar a,
.navbar a:focus,
.navbar a:visited,
.navbar a:hover,
.navbar a:active {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
.navbar a:hover,
.navbar a:active {
background-color: #7f53ac;
background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
.navbar a:first-child {
  border-bottom-left-radius: 8px;
}
.navbar a:last-child {
  border-bottom-right-radius: 8px;
}