@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.navbar .logo {
  cursor: pointer;
  margin-right: auto;
}

.navbar li, a, button {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  padding: 12px 0;
}

.nav_links {
  list-style: none;
  padding: 0 20px;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.nav_links li a:hover {
  color: #0088a9;
  text-decoration: none;
}

.navbar button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navbar button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}