.side-bar {
  padding: 12px;
  margin: 30px 10px 30px 5px;
  background-color: #edf0f1;
}

/* about me css */

.about-me-wrap {
  display: block;
  text-align: center;
}

.abt-me-img {
  border-radius: 100%;
  margin-bottom: -55px;
}

.abt-me-name {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  text-align: center;
}

.abt-me-content {
  background-color: #525B43;
  padding: 40px 10px 10px 10px;
  text-align: start;
}

.abt-me-socials {
  background-color: #525B43;
}

.abt-me-socials a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 8px;
	margin-bottom: 5px;
}

/* popular topics css */
.popular-topics {
  width: 100%;

}

.popular-post {
  background-color: white;
  height: 60px;
  margin-top: 10px;
  width: 100%;
  min-width: 300px;
  position: relative;
  border-bottom: #1f2022 solid 1px;
}

.pp-img {
  width: 70px;
  height: 60px;
  float: left;
}

.popular-topics a {
  color: inherit;
  text-decoration: none;
  font-family: 'Candal', serif;
  text-align: center;
}

.pp-title h4 {
  padding: 15px;
}
.popular-topics a:hover {
  color: #0088a9;
  transition: 0.3s;
}