.side-bar {
  padding: 12px;
  margin: 30px 10px 30px 5px;
  background-color: #edf0f1;
}

/* about me css */

.about-me-wrap {
  display: block;
  text-align: center;
}

.abt-me-img {
  border-radius: 100%;
  margin-bottom: -55px;
}

.abt-me-name {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  text-align: center;
}

.abt-me-content {
  background-color: #525B43;
  padding: 40px 10px 10px 10px;
  text-align: start;
}

.abt-me-socials {
  background-color: #525B43;
}

.abt-me-socials a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 8px;
	margin-bottom: 5px;
}

/* popular topics css */
.popular-topics {
}

.popular-post {
  display: block;
  background-color: white;
  height: 70px;
  margin-top: 10px;
  width: 100%;
  min-width: 300px;
  border-radius: 5px;
  font-family: 'Candal', serif;
}

.popular-post:hover {
  color: #0088a9;
  transition: 0.1s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.pp-img {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 80px;
  float: left;
  height: 100%;
  display: inline-block;
  margin-right: 10px;
}

.popular-topics a {
  color: inherit;
  text-decoration: none;
}

.pp-title {
  padding-top: 25px;
}

@media only screen and (max-width: 750px) {
.side-bar {
  margin: 20px auto;
  width: 95%;
}
}