.side-bar {
}

.about-me-wrap {
  display: block;
  text-align: center;
}

.abt-me-img {
  border-radius: 100%;
  margin-bottom: -55px;
}

.abt-me-name {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  text-align: center;
}

.abt-me-content {
  background-color: #525B43;
  padding: 40px 10px 10px 10px;
  text-align: start;
}

.abt-me-socials {
  background-color: #525B43;
}

@media only screen and (max-width: 750px) {
  .side-bar {
    display: none;
  }
}

.abt-me-socials a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 8px;
	margin-bottom: 5px;
}