.trending-posts-wrap {
  width: 95%;
  margin: 50px auto 30px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
          "tp-hd tp-hd tp-hd"
          "prev-btn tp-slick next-btn";
  overflow: hidden;
}

.trending-posts-wrap h1 {
  grid-area: tp-hd;
  margin: 30px auto;
}

.trending-posts-wrap a {
  color: inherit;
  text-decoration: none;
  font-family: 'Candal', serif;
}

.trending-posts-wrap a:hover {
  color: #0088a9;
  transition: 0.3s;
}

.tp-slider {
  grid-area: tp-slick;
  height: max-content;
  overflow: hidden;
  margin: 0 auto;
  width: 95%;
}

.slick-prev-btn {
  grid-area: prev-btn;
}
.slick-next-btn {
  grid-area: next-btn;
}

.slick-prev-btn,
.slick-next-btn {
  margin: auto;
  color: rgba(82, 91, 67, 1);
  cursor: pointer;
}

.slick-next-btn:hover,
.slick-prev-btn:hover {
  color: rgba(82, 91, 67, 0.8);
  transition: 0.3s;
}

.trending-post {
  display: inline-block;
  height: 450px;
  margin: 0 10px;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.tp-thumbnail {
  width: 100%;
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tp-content {
  padding: 0 10px;
  line-height: 1.6;
  height: 150px;
}

.tp-meta {
  position: absolute;
  bottom: 20px;
}


